<!DOCTYPE html>
<html>
    <head>
               
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.0/jquery-migrate.min.js"></script>
        <script src="/js/jquery.particleground.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
            canvas{
                background-color: #16a085;
                display: block;
                position: absolute;
                z-index: -100;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            #addtask{
                color:#fff;
                margin-top: 2%;
                padding: 5%;
                background-color: rgba(0,0,0,0.5) !important;
                
            }
            
        </style>
    </head>
    <body>
        
        <%- include ('header.ejs'); %>             
            <div id="particles">
                <div id="addTaskForm" class="d-flex justify-content-center">
                    <form id="addtask">
                        <div class="form-group">
                            <h3 style="margin-bottom: 5%;">Add a New Task</h3>
                            <div class="row">
                                <div class="col-3">
                                    <label for="description">Description</label>
                                </div>
                                <div class="col-9">
                                    <textarea class="form-control" id="description" rows="1"></textarea>
                                </div>
                            </div>    
                        </div>
                        <div class="form-group">
                            <h3 style="margin-top: 10%; margin-bottom: 5%;">Choose the Task Label</h3>
                            <div class="row">
                                <div class="col-3">
                                    <label for="taskLabel">Label</label>
                                </div>
                                <div class="col-6">
                                    <select style="border-radius: 25px;" name="taskLabel" id="taskLabel">
                                        <option value="Personal">Personal</option>
                                        <option value="Work">Work</option>
                                        <option value="Others">Others</option>
                                        <option value="Others">Shopping</option>
                                    </select>                                    
                                </div>
                            </div>                              
                        </div> 
                        <div class="form-group">
                            <h3 style="margin-top: 10%; margin-bottom: 5%;">Set a Due Date for the Task</h3>
                            <div class="row">
                                <div class="col-3">
                                    <label for="date">Due Date</label>
                                </div>
                                <div class="col-6">
                                    <input class="form-group-input" type="date" name="date" id="date">
                                </div>
                            </div>   
                        </div>
                        <script>
                            var date = new Date().toISOString().slice(0,10)
                            $('#date').attr('min', date)
                        </script>
                        
                    </form>
                </div>
                <div style="margin-top: 20px;" id="addTaskForm" class="d-flex justify-content-center">
                    <button id="submit" class="w-25 btn btn-dark"><span style="font-size: x-large;">Save</span></button>
                </div>
            </div>     
        
        <script>
            var perfEntries = performance.getEntriesByType("navigation");
            if (perfEntries[0].type === "back_forward") {
                location.reload(true);
            }
            window.onload = function(){
                
                if(document.cookie.length == 0){
                    document.location.href = '/'
                }
            }
            document.addEventListener('DOMContentLoaded', function () {
            particleground(document.getElementById('particles'), {
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'    
                
            });
            })
            
            moment.format
            //api call to store task

            const apiAddTask = async (data)=> {

                const response = await fetch('/tasks',{
                    method: 'POST',
                    credentials: 'same-origin',
                    headers:{
                        'Content-type':'application/json'
                    },
                    body: JSON.stringify(data)
                })  
                if(response.status == 201){
                    return response.json()
                }
                else{
                    document.getElementById("addtask").reset();
                    alert('Invalid Input')
                }
                
            }


            const b = document.getElementById('submit')
            b.addEventListener('click', (e)=>{
                const label =document.getElementById('taskLabel').value 
                const description = document.getElementById('description').value
                const date = document.getElementById('date').value
                const parsedDate = moment(date).toISOString()
                
                
                data={
                    description: description,
                    label: label,
                    taskStatus: 'New',
                    dueDate: parsedDate
                }
                apiAddTask(data).then((response)=>{
                    document.getElementById("addtask").reset();

                })
            })
            
        </script>
    </body>
</html>