<!DOCTYPE html>
<html>
    <body>
        <div id='container'>
            <p>
                Welcome
                <button id='profile'>My profile</button>
                
            </p>
        </div>
    </body>
    </html>
        <script>
            const getUserProfile = async ()=>{
                const response = await fetch('/users/me', {
                    method:'GET',
                    'withCredentials': true
                }) 
                return response.json()
            }
            const getprofile = document.getElementById('profile')
            getprofile.addEventListener('click', (e)=>{
                e.preventDefault()
                getUserProfile().then((response)=>{
                    console.log("my response",response)
                    setTimeout(() =>{
                        document.location.href = '/users/me'
                    }, 5000)

                })
            })
        </script>
    