<!DOCTYPE html>
<html>
    <head>
        <title>My Tasks | Task Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        
    </head>


    <body>
        <%- include ('header.ejs'); %> 
        <button id="add">Add New Task</button>
        <button id="view">View Tasks</button>

        <script src='/js/tasks.js'></script>
    </body>
    
    
</html>

