body {
    font-family: "Lato", sans-serif;
}

#signin, #registerhere, #or{
    display: none;
}

.ns-box{
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 10;
    color: #000000;
    background: #FFF;
}

.card{ 
    height: max-content;
    width: max-content;
background-color: rgba(0,0,0,0.5) !important;
} 
.input-group-prepend2{
    margin-top: 20px;
}
#password{
    margin-top: 20px;
}

.login_btn{
    margin-top: 10px;
}
.login_btn:hover{
    color: black;
    background-color: white;
    }

.main-head{
    height: 150px;
    background: #FFF;
   
}
#login-form-text{
    overflow: hidden;
}
.sidenav {
    height: 100%;
    background-color: #000;
    /* padding-top: 2%; */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
        margin-left: 5%;
    }

    .register-form{
        margin-top: 10%;
    }

    .ml5 .line{
        font-size: 2em;
    }

    #signin, #registerhere, #or{
        display: inline;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        
    }

    .login-form{
        align-content: center;
        margin-left: 60%;
        
    }

    .card{
        display: inline-block;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    /* margin-top: 20%; */
    padding: 60px;
    color: #fff;
}
.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 3em;
    color: #402d2d;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    transform-origin: 0.5 0;
  }
  
  .ml5 .letters {
      color: teal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    opacity: 0;
  }